.item-a {
	text-decoration: none;
}
.item {
	background: #f4f5f6;
	width: 600px;
	height: 100%;
	text-align: center;
	margin-left: 25%;
	padding: 50px 20px 40px 20px;
	border-radius: 8px 8px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.item h1, h3, h4 {
	margin-top: 20px !important;
	text-align: center;
	color: #454545;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

ul {
	list-style-type: none;
  }
